In [1]:
import pandas as pd
import numpy as np
from math import isnan

# Champs Elysees

In [2]:
#import csv file into dataframe
df = pd.read_csv("washington.csv", sep = ';')
df

,Identifiant arc,Libelle,Date et heure de comptage,Débit horaire,Taux d'occupation,Etat trafic,Identifiant noeud amont,Libelle noeud amont,Identifiant noeud aval,Libelle noeud aval,Etat arc,Date debut dispo data,Date fin dispo data,geo_point_2d,geo_shape
0,4264,AV_Champs_Elysees,2022-01-01T11:00:00+01:00,524.0,8.85667,Fluide,2294,Av_Champs_Elysees-Washington,2293,Av_Champs_Elysees-Berri,Invalide,2005-01-01,2019-06-01,"48.871535879911605,2.301722792456062","{""coordinates"": [[2.3009951475, 48.8717770435]..."
1,4264,AV_Champs_Elysees,2022-01-01T07:00:00+01:00,491.0,7.71611,Fluide,2294,Av_Champs_Elysees-Washington,2293,Av_Champs_Elysees-Berri,Invalide,2005-01-01,2019-06-01,"48.871535879911605,2.301722792456062","{""coordinates"": [[2.3009951475, 48.8717770435]..."
2,4264,AV_Champs_Elysees,2022-01-01T19:00:00+01:00,997.0,46.28889,Saturé,2294,Av_Champs_Elysees-Washington,2293,Av_Champs_Elysees-Berri,Invalide,2005-01-01,2019-06-01,"48.871535879911605,2.301722792456062","{""coordinates"": [[2.3009951475, 48.8717770435]..."
3,4264,AV_Champs_Elysees,2022-01-01T18:00:00+01:00,1096.0,46.60222,Saturé,2294,Av_Champs_Elysees-Washington,2293,Av_Champs_Elysees-Berri,Invalide,2005-01-01,2019-06-01,"48.871535879911605,2.301722792456062","{""coordinates"": [[2.3009951475, 48.8717770435]..."
4,4264,AV_Champs_Elysees,2022-01-01T09:00:00+01:00,258.0,3.75445,Fluide,2294,Av_Champs_Elysees-Washington,2293,Av_Champs_Elysees-Berri,Invalide,2005-01-01,2019-06-01,"48.871535879911605,2.301722792456062","{""coordinates"": [[2.3009951475, 48.8717770435]..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9229,4264,AV_Champs_Elysees,2022-09-01T03:00:00+02:00,396.0,4.35834,Fluide,2294,Av_Champs_Elysees-Washington,2293,Av_Champs_Elysees-Berri,Invalide,2005-01-01,2019-06-01,"48.871535879911605,2.301722792456062","{""coordinates"": [[2.3009951475, 48.8717770435]..."
9230,4264,AV_Champs_Elysees,2022-08-01T04:00:00+02:00,274.0,3.19278,Fluide,2294,Av_Champs_Elysees-Washington,2293,Av_Champs_Elysees-Berri,Invalide,2005-01-01,2019-06-01,"48.871535879911605,2.301722792456062","{""coordinates"": [[2.3009951475, 48.8717770435]..."
9231,4264,AV_Champs_Elysees,2022-08-01T03:00:00+02:00,431.0,5.57778,Fluide,2294,Av_Champs_Elysees-Washington,2293,Av_Champs_Elysees-Berri,Invalide,2005-01-01,2019-06-01,"48.871535879911605,2.301722792456062","{""coordinates"": [[2.3009951475, 48.8717770435]..."
9232,4264,AV_Champs_Elysees,2022-08-01T02:00:00+02:00,526.0,7.41333,Fluide,2294,Av_Champs_Elysees-Washington,2293,Av_Champs_Elysees-Berri,Invalide,2005-01-01,2019-06-01,"48.871535879911605,2.301722792456062","{""coordinates"": [[2.3009951475, 48.8717770435]..."
9233,4264,AV_Champs_Elysees,2022-08-01T01:00:00+02:00,796.0,14.38444,Fluide,2294,Av_Champs_Elysees-Washington,2293,Av_Champs_Elysees-Berri,Invalide,2005-01-01,2019-06-01,"48.871535879911605,2.301722792456062","{""coordinates"": [[2.3009951475, 48.8717770435]..."

In [3]:
#split date & time, and get weekday
df['Date et heure de comptage'] = pd.to_datetime(df['Date et heure de comptage'], utc = True)
df['date'] = df['Date et heure de comptage'].dt.date
df['heure'] =df['Date et heure de comptage'].dt.hour
df['weekday'] = df['Date et heure de comptage'].dt.day_of_week


#filter by noeud amont and noeud aval
df = df[(df["Libelle noeud amont"] == "Av_Champs_Elysees-Washington") & (df["Libelle noeud aval"] == "Av_Champs_Elysees-Berri")]

#select useful cols
dfce = df[["date", "heure", "weekday", "Débit horaire", "Taux d'occupation"]]
dfce = dfce.sort_values(['date', 'heure'], ascending= [True, True])

dfce

            date  heure  weekday  Débit horaire  Taux d'occupation
150   2021-11-01      3        0         1222.0           42.87945
7504  2021-11-01      4        0         1033.0           44.35278
7508  2021-11-01      5        0          824.0           20.16222
7501  2021-11-01      6        0          710.0           12.20000
7509  2021-11-01      7        0          947.0           40.57222
...          ...    ...      ...            ...                ...
1552  2022-12-05     19        0         1162.0           23.74222
1551  2022-12-05     20        0          944.0           23.24056
1228  2022-12-05     21        0          750.0           14.86222
1550  2022-12-05     22        0          773.0           13.65945
1549  2022-12-05     23        0          714.0           11.98222

[9234 rows x 5 columns]

In [4]:
#checking for null values
dfce.isna().sum()

date                    0
heure                   0
weekday                 0
Débit horaire        1009
Taux d'occupation    1033
dtype: int64

In [5]:
#deal with nulls 
#replace null by mean value with the same 'weekday' & 'heure' values

for idx, row in dfce.iterrows():

  if not isnan(row[-2]) or not isnan(row[-1]):
    continue

  if isnan(row[-2]) and isnan(row[-1]):
    day = row['weekday']
    hour = row['heure']
    avg1 = dfce[(dfce['weekday'] == day) & (dfce['heure'] == hour)].mean()['Débit horaire']
    avg2 = dfce[(dfce['weekday'] == day) & (dfce['heure'] == hour)].mean()["Taux d'occupation"]
    dfce.at[idx, 'Débit horaire'] = avg1
    dfce.at[idx, "Taux d'occupation"] = avg2


print(dfce.isna().sum()) #check whether imputation has done

dfce = dfce.dropna(axis = 0, how = 'any') #drop columns that still have nulls 
dfce

<ipython-input-5-7c8e9f48ec00>:12: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  avg1 = dfce[(dfce['weekday'] == day) & (dfce['heure'] == hour)].mean()['Débit horaire']
<ipython-input-5-7c8e9f48ec00>:13: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  avg2 = dfce[(dfce['weekday'] == day) & (dfce['heure'] == hour)].mean()["Taux d'occupation"]

date                  0
heure                 0
weekday               0
Débit horaire         0
Taux d'occupation    24
dtype: int64

            date  heure  weekday  Débit horaire  Taux d'occupation
150   2021-11-01      3        0         1222.0           42.87945
7504  2021-11-01      4        0         1033.0           44.35278
7508  2021-11-01      5        0          824.0           20.16222
7501  2021-11-01      6        0          710.0           12.20000
7509  2021-11-01      7        0          947.0           40.57222
...          ...    ...      ...            ...                ...
1552  2022-12-05     19        0         1162.0           23.74222
1551  2022-12-05     20        0          944.0           23.24056
1228  2022-12-05     21        0          750.0           14.86222
1550  2022-12-05     22        0          773.0           13.65945
1549  2022-12-05     23        0          714.0           11.98222

[9210 rows x 5 columns]

# Convention

In [6]:
#import csv file into dataframe
df = pd.read_csv("convention.csv", sep = ';')
df

,Identifiant arc,Libelle,Date et heure de comptage,Débit horaire,Taux d'occupation,Etat trafic,Identifiant noeud amont,Libelle noeud amont,Identifiant noeud aval,Libelle noeud aval,Etat arc,Date debut dispo data,Date fin dispo data,geo_point_2d,geo_shape
0,5660,Convention,2021-12-02T06:00:00+01:00,33.0,0.59389,Fluide,2967,Convention-Lourmel,2968,Convention-Felix_Faure,Invalide,2005-01-01,2019-06-01,"48.84108992450555,2.2878673300005286","{""coordinates"": [[2.2878162162, 48.8411107374]..."
1,5660,Convention,2021-12-02T09:00:00+01:00,327.0,5.87667,Fluide,2967,Convention-Lourmel,2968,Convention-Felix_Faure,Invalide,2005-01-01,2019-06-01,"48.84108992450555,2.2878673300005286","{""coordinates"": [[2.2878162162, 48.8411107374]..."
2,5660,Convention,2021-12-02T08:00:00+01:00,183.0,3.15945,Fluide,2967,Convention-Lourmel,2968,Convention-Felix_Faure,Invalide,2005-01-01,2019-06-01,"48.84108992450555,2.2878673300005286","{""coordinates"": [[2.2878162162, 48.8411107374]..."
3,5662,Convention,2021-12-02T23:00:00+01:00,545.0,NaN,Inconnu,2968,Convention-Felix_Faure,2969,Convention-Croix_Nivert,Invalide,2005-01-01,2019-06-01,"48.84053433687088,2.2891056669681844","{""coordinates"": [[2.2879184438, 48.8410691116]..."
4,5662,Convention,2021-12-02T16:00:00+01:00,982.0,NaN,Inconnu,2968,Convention-Felix_Faure,2969,Convention-Croix_Nivert,Invalide,2005-01-01,2019-06-01,"48.84053433687088,2.2891056669681844","{""coordinates"": [[2.2879184438, 48.8410691116]..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184869,5677,Convention,2022-08-01T01:00:00+02:00,49.0,NaN,Inconnu,2974,Convention-Olivier_de_Serres,2914,Convention-Vaugirard,Invalide,2005-01-01,2019-06-01,"48.83699446595424,2.2971807434058267","{""coordinates"": [[2.2979282804, 48.8367817183]..."
184870,5678,Convention,2022-08-01T04:00:00+02:00,20.0,0.45056,Fluide,2974,Convention-Olivier_de_Serres,2975,Place_Charles_Valin,Invalide,2005-01-01,2019-06-01,"48.83607895219937,2.3002403666628135","{""coordinates"": [[2.2979062846, 48.8367488071]..."
184871,5678,Convention,2022-08-01T03:00:00+02:00,37.0,0.45722,Fluide,2974,Convention-Olivier_de_Serres,2975,Place_Charles_Valin,Invalide,2005-01-01,2019-06-01,"48.83607895219937,2.3002403666628135","{""coordinates"": [[2.2979062846, 48.8367488071]..."
184872,5678,Convention,2022-08-01T01:00:00+02:00,78.0,1.22222,Fluide,2974,Convention-Olivier_de_Serres,2975,Place_Charles_Valin,Invalide,2005-01-01,2019-06-01,"48.83607895219937,2.3002403666628135","{""coordinates"": [[2.2979062846, 48.8367488071]..."
184873,5679,Convention,2022-08-01T01:00:00+02:00,49.0,3.32222,Fluide,2975,Place_Charles_Valin,2974,Convention-Olivier_de_Serres,Invalide,2005-01-01,2019-06-01,"48.8361218455137,2.3002630406845963","{""coordinates"": [[2.302597801, 48.8354619727],..."

In [7]:
#split date & time, and get weekday
df['Date et heure de comptage'] = pd.to_datetime(df['Date et heure de comptage'], utc = True)
df['date'] = df['Date et heure de comptage'].dt.date
df['heure'] =df['Date et heure de comptage'].dt.hour
df['weekday'] = df['Date et heure de comptage'].dt.day_of_week


#filter by noeud amont and noeud aval
df = df[(df["Libelle noeud amont"] == "Lecourbe-Convention") & (df["Libelle noeud aval"] == "Convention-Blomet")]

#select useful cols
dfc = df[["date", "heure", "weekday", "Débit horaire", "Taux d'occupation"]]
dfc = dfc.sort_values(['date', 'heure'], ascending= [True, True])

dfc

              date  heure  weekday  Débit horaire  Taux d'occupation
2671    2021-11-01      3        0          145.0            0.91611
150434  2021-11-01      4        0          127.0            0.76222
150436  2021-11-01      5        0          136.0            0.69556
2668    2021-11-01      6        0          132.0            0.87167
2670    2021-11-01      7        0          185.0            1.24000
...            ...    ...      ...            ...                ...
34349   2022-12-05     19        0            NaN           12.67612
33596   2022-12-05     20        0            NaN            5.20833
34348   2022-12-05     21        0            NaN            2.43833
34347   2022-12-05     22        0            NaN            2.26667
33595   2022-12-05     23        0            NaN            2.35111

[9246 rows x 5 columns]

In [8]:
#checking for null values
dfc.isna().sum()

date                   0
heure                  0
weekday                0
Débit horaire        824
Taux d'occupation    137
dtype: int64

In [9]:
#deal with nulls in Débit horaire col
#replace null by mean value with the same 'weekday' & 'heure' values

for idx, row in dfc.iterrows():

  if not isnan(row[-2]):
    continue

  if isnan(row[-2]):
    day = row['weekday']
    hour = row['heure']
    avg = dfc[(dfc['weekday'] == day) & (dfc['heure'] == hour)].mean()['Débit horaire']
    dfc.at[idx, 'Débit horaire'] = avg


print(dfc.isna().sum()) #check whether imputation has done

dfc = dfc.dropna(axis = 0, how = 'any') #drop columns that still have nulls 
dfc

<ipython-input-9-e7af3c6b6954>:12: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  avg = dfc[(dfc['weekday'] == day) & (dfc['heure'] == hour)].mean()['Débit horaire']

date                   0
heure                  0
weekday                0
Débit horaire          0
Taux d'occupation    137
dtype: int64

              date  heure  weekday  Débit horaire  Taux d'occupation
2671    2021-11-01      3        0     145.000000            0.91611
150434  2021-11-01      4        0     127.000000            0.76222
150436  2021-11-01      5        0     136.000000            0.69556
2668    2021-11-01      6        0     132.000000            0.87167
2670    2021-11-01      7        0     185.000000            1.24000
...            ...    ...      ...            ...                ...
34349   2022-12-05     19        0     710.489796           12.67612
33596   2022-12-05     20        0     535.755102            5.20833
34348   2022-12-05     21        0     424.755102            2.43833
34347   2022-12-05     22        0     364.125000            2.26667
33595   2022-12-05     23        0     270.326531            2.35111

[9109 rows x 5 columns]

# Saints-Pères

In [10]:
#import csv file into dataframe
df = pd.read_csv("sts.csv", sep = ';')
df

,Identifiant arc,Libelle,Date et heure de comptage,Débit horaire,Taux d'occupation,Etat trafic,Identifiant noeud amont,Libelle noeud amont,Identifiant noeud aval,Libelle noeud aval,Etat arc,Date debut dispo data,Date fin dispo data,geo_point_2d,geo_shape
0,193,Sts_Peres,2022-01-02T20:00:00+01:00,254.0,4.50611,Fluide,120,Bd_St_Germain-Sts_Peres,117,Sts_Peres-Grenelle,Invalide,2005-01-01,2019-06-01,"48.853584029564495,2.32988311847408","{""coordinates"": [[2.330422683, 48.8544501616],..."
1,193,Sts_Peres,2022-01-02T17:00:00+01:00,215.0,3.73167,Fluide,120,Bd_St_Germain-Sts_Peres,117,Sts_Peres-Grenelle,Invalide,2005-01-01,2019-06-01,"48.853584029564495,2.32988311847408","{""coordinates"": [[2.330422683, 48.8544501616],..."
2,193,Sts_Peres,2022-01-02T15:00:00+01:00,206.0,4.21000,Fluide,120,Bd_St_Germain-Sts_Peres,117,Sts_Peres-Grenelle,Invalide,2005-01-01,2019-06-01,"48.853584029564495,2.32988311847408","{""coordinates"": [[2.330422683, 48.8544501616],..."
3,193,Sts_Peres,2022-01-02T21:00:00+01:00,237.0,4.06833,Fluide,120,Bd_St_Germain-Sts_Peres,117,Sts_Peres-Grenelle,Invalide,2005-01-01,2019-06-01,"48.853584029564495,2.32988311847408","{""coordinates"": [[2.330422683, 48.8544501616],..."
4,193,Sts_Peres,2022-01-02T14:00:00+01:00,191.0,3.19500,Fluide,120,Bd_St_Germain-Sts_Peres,117,Sts_Peres-Grenelle,Invalide,2005-01-01,2019-06-01,"48.853584029564495,2.32988311847408","{""coordinates"": [[2.330422683, 48.8544501616],..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36843,193,Sts_Peres,2022-08-01T03:00:00+02:00,97.0,1.44611,Fluide,120,Bd_St_Germain-Sts_Peres,117,Sts_Peres-Grenelle,Invalide,2005-01-01,2019-06-01,"48.853584029564495,2.32988311847408","{""coordinates"": [[2.330422683, 48.8544501616],..."
36844,193,Sts_Peres,2022-08-01T01:00:00+02:00,179.0,2.76056,Fluide,120,Bd_St_Germain-Sts_Peres,117,Sts_Peres-Grenelle,Invalide,2005-01-01,2019-06-01,"48.853584029564495,2.32988311847408","{""coordinates"": [[2.330422683, 48.8544501616],..."
36845,194,Sts_Peres,2022-08-01T04:00:00+02:00,53.0,0.73500,Fluide,117,Sts_Peres-Grenelle,118,Sevres-Sts_Peres,Invalide,2005-01-01,2019-06-01,"48.85232835133813,2.3289514046094655","{""coordinates"": [[2.3293484597, 48.8527148733]..."
36846,194,Sts_Peres,2022-08-01T02:00:00+02:00,129.0,1.87444,Fluide,117,Sts_Peres-Grenelle,118,Sevres-Sts_Peres,Invalide,2005-01-01,2019-06-01,"48.85232835133813,2.3289514046094655","{""coordinates"": [[2.3293484597, 48.8527148733]..."
36847,194,Sts_Peres,2022-08-01T01:00:00+02:00,179.0,2.76056,Fluide,117,Sts_Peres-Grenelle,118,Sevres-Sts_Peres,Invalide,2005-01-01,2019-06-01,"48.85232835133813,2.3289514046094655","{""coordinates"": [[2.3293484597, 48.8527148733]..."

In [11]:
#split date & time, get weekday
df['Date et heure de comptage'] = pd.to_datetime(df['Date et heure de comptage'], utc = True)
df['date'] = pd.to_datetime(df['Date et heure de comptage'].dt.date)
df['heure'] =df['Date et heure de comptage'].dt.hour
df['weekday'] = df['Date et heure de comptage'].dt.day_of_week

#filter by noeud amont and noeud aval
df = df[(df["Libelle noeud amont"] == "Sts_Peres-Voltaire") & (df["Libelle noeud aval"] == "Sts_Peres-Universite")]

#select useful cols
dfsp = df[["date", "heure", "weekday", "Débit horaire", "Taux d'occupation"]]
dfsp = dfsp.sort_values(['date', 'heure'], ascending= [True, True])

dfsp

            date  heure  weekday  Débit horaire  Taux d'occupation
29748 2021-11-01      3        0          163.0            1.94556
972   2021-11-01      4        0          125.0            1.67778
29746 2021-11-01      5        0          115.0            1.58444
29747 2021-11-01      6        0          129.0            1.56222
29750 2021-11-01      7        0          144.0            1.94278
...          ...    ...      ...            ...                ...
4994  2022-12-05     19        0          609.0            7.56333
5051  2022-12-05     20        0          519.0            6.88667
5050  2022-12-05     21        0          299.0            4.33000
5049  2022-12-05     22        0          333.0            4.40556
5048  2022-12-05     23        0          291.0            3.77278

[9212 rows x 5 columns]

In [12]:
#check datatypes
dfsp.dtypes

date                 datetime64[ns]
heure                         int64
weekday                       int64
Débit horaire               float64
Taux d'occupation           float64
dtype: object

In [13]:
#checking for null values
dfsp.isna().sum()

date                   0
heure                  0
weekday                0
Débit horaire        104
Taux d'occupation    103
dtype: int64

In [14]:
#drop null values since not many
dfsp = dfsp.dropna(axis = 0, how = 'any')
dfsp

            date  heure  weekday  Débit horaire  Taux d'occupation
29748 2021-11-01      3        0          163.0            1.94556
972   2021-11-01      4        0          125.0            1.67778
29746 2021-11-01      5        0          115.0            1.58444
29747 2021-11-01      6        0          129.0            1.56222
29750 2021-11-01      7        0          144.0            1.94278
...          ...    ...      ...            ...                ...
4994  2022-12-05     19        0          609.0            7.56333
5051  2022-12-05     20        0          519.0            6.88667
5050  2022-12-05     21        0          299.0            4.33000
5049  2022-12-05     22        0          333.0            4.40556
5048  2022-12-05     23        0          291.0            3.77278

[9108 rows x 5 columns]

# export data

In [17]:
from google.colab import files

dfce.to_csv('champs_elysees.csv')
dfc.to_csv('convention.csv')
dfsp.to_csv('saint_peres.csv')

In [18]:
files.download('champs_elysees.csv')
files.download('convention.csv') 
files.download('saint_peres.csv')